.vscode
__pycache__
*.pyc

# Ignore IntelliJ files.
.idea/
*.iml
*.ipr
*.iws

# MacOS folder files
.DS_Store

# Emacs
*~
\#*#
.\#*

# secure-boot certificate store
tls/
tls-*/

# Screen session logs
screenlog.*

# environment configuration file
env.json
