{
  "PROJECT_ID":"example-yyyy-nn",
  "PRINCIPAL":"myusername",
  "DOMAIN":"example.com",
  "PURPOSE":"cuda-pre-init",
  "BUCKET":"my-bucket-name",
  "IMAGE_VERSION":"2.2-debian12",
  "ZONE":"us-west4-a",
  "SUBNET":"my-subnet",
  "HIVE_INSTANCE_NAME":"mysql-instance-name"
  "DB_HIVE_PASSWORD_URI":"gs://.../mysql_hive_password.encrypted",
  "KMS_KEY_URI":"projects/.../locations/global/keyRings/.../cryptoKeys/..."
}
